
body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   background-image: url('https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}
.dc {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(175, 246, 224,0.4);
   border-radius: 20px;
   width: max-content;
   padding: 50px;
   gap: 10px;
}

#dc0, #dc1, #dc2 {
   font-size: 3rem;
}
